<!-- <div class="container">
  <div class="row p-5">
    @for(item of filteredProducts;track item.id){
      
    <app-card [name]="item.title" [description]="item.description" [src]="item.images[0]"></app-card>
    }
  </div>

</div> -->


@for(items of categories;track items){
<h3 class="p-5">{{items.name.toLocaleUpperCase()}}</h3>

<div class="carousel-container">
  <div class="card-carousel p-5">

    @for (item of items.products; track item.id) {
    <div class="card p-5 m-1">
      <img [src]="item.images[0] ">
      <div class="card-content">
        <app-card [name]="item.title" [description]="item.description" [price]="item.price"></app-card>

      </div>
    </div>
    }

  </div>
</div>
}